name: build

on:
  push:
    branches: [main]
    paths: ["runtime/**", ".github/workflows/build.yml"]

jobs:
  build:
    name: Build, Test, and Publish Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      REGISTRY: ghcr.io
      IMAGE: ${{ github.repository }}

    steps:
      - uses: actions/checkout@v2

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Check image size
        run: |
          docker image list $REGISTRY/$IMAGE

      - name: Tests packages in container
        run: |
          docker run --entrypoint /bin/bash $REGISTRY/$IMAGE \
            -c "conda run --no-capture-output -n condaenv python -m pytest tests"

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@v2
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        run: |
          docker push $REGISTRY/$IMAGE --all-tags
